.border,.mainContainer,.inputContainer{
border: 1px solid black;
}
.mainContainer{
margin-left: 7.5vw;
width: 90vw;
height: 1200px;
}

.inputContainer{
  width: 100%;
  height: 10% ;
}

.dataContainer{
  margin-top: 1%;
  width: 88%;
  height: 570px;
}

.sideContainer{
  margin-top: 1%;

  width: 10%;
  height: 570px;
  position: fixed;
  right:1.5%;

}