.border,.mainContainer,.inputContainer,.dataContainer,.sideContainer{
border: 1px solid black;
}
.mainContainer{
margin-left: 7.5vw;
width: 85vw;
height: 99vh;
}

.inputContainer{
  width: 100%;
  height: 20% ;
}

.dataContainer{
  width: 80%;
  height: 80%;
}

.sideContainer{
  width: 20%;
  height: 80%;
}